<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="server=127.0.0.1;port=3306;user=root;database=mynanterre2" />
    <add key="baseUrl" value="https://culture.parisnanterre.fr/associations/annuaire-des-associations-etudiantes/" />
    <add key="dbCreatorId" value="0" />
  </appSettings>
</configuration>